In [4]:
import pymongo

myClient = pymongo.MongoClient("mongodb://localhost:27017/")
myDb = myClient["model"]
myCol = myDb["deployments"]


# dblst = myclient.list_database_names()
# if "model" in dblst:
#     print("model db 已存在")
#     mydb = myclient["model"]
# else: 
#     print("建立 model db")
#     mydb = myclient["model"]

# collst = mydb.list_collection_names()
# if "deployments" in collst:   
#     print("deployments 集合已存在！")
#     mycol = mydb["deployments"]
# else: 
#     print("建立 deployments collection")
#     mycol = mydb["deployments"]


    # mytestData = { "name": "Allen", "gender": "male", "address": "苗栗縣苑裡鎮" }
    # x = mycol.insert_one(mytestData)
    # x = mycol.find_one()

model db 已存在
deployments 集合已存在！

NameError: name 'x' is not defined

In [1]:
from fastapi import FastAPI
import uvicorn
import pymongo

app = FastAPI()
myclient = pymongo.MongoClient("mongodb://localhost:27017/")



# Function
@app.get("/")
def read_root():
   return "get Initializing db : model ; collection : deployments"

@app.post("/")
def read_root():
   return "post Initializing db : model ; collection : deployments"

@app.put("/")
def read_root():
   return "put Initializing db : model ; collection : deployments"

@app.delete("/")
def read_root():
   return "delete Initializing db : model ; collection : deployments"

# Create

# Read

# Update

# Delete

if __name__ == '__main__':
	uvicorn.run("app:app", host="127.0.0.1", port=8001, reload=True)

model db 已存在

NameError: name 'mydb' is not defined

In [6]:
from typing import Union

def abc(tst:Union[int,str]):
    print(type(tst))

abc("123")

<class 'str'>

request GET data into MongoDb

In [87]:
import requests

key = "modelId"
value = 0
res = requests.get(f"http://127.0.0.1:8001/model/deployments?key={key}&value={value}")

print(res.json())

[{'modelId': 0, 'modelName': 'solar_custoNet_SLFN_0.6_0.588_221115_215121.pkl', 'trainedDataset': 'solar', 'deployStatus': 'revoking', 'containerID': 'None', 'containerPort': 'None'}]

request POST data into MongoDb

In [90]:
import requests


res = requests.post("http://127.0.0.1:8001/model/deployments", json={"modelId" : 3, "modelName" : "solar_custoNet_SLFN_0.6_0.729_221022_182027.pkl", \
                    "trainedDataset":"solar", "deployStatus":"revoking", "containerID": "None", \
                        "containerPort" : "None"})

print(res.json())

{'modelId': 3, 'modelName': 'solar_custoNet_SLFN_0.6_0.729_221022_182027.pkl', 'trainedDataset': 'solar', 'deployStatus': 'revoking', 'containerID': 'None', 'containerPort': 'None'}

request PUT data into MongoDB

In [3]:
import requests

res = requests.put("http://127.0.0.1:8001/model/deployments", json={"modelId" : 1, "keyToBeChanged" : "containerPort", "valueToBeChanged" : "None"})

print(res.json())

{'modelId': 1, 'modelName': 'solar_custoNet_ASLFN_0.6_0.5_221116_220148.pkl', 'trainedDataset': 'solar', 'deployStatus': 'revoking', 'containerID': 'None', 'containerPort': 'None'}

request DELETE data into MongoDB

In [146]:
import requests

key = "modelId"
value = 4
res = requests.delete(f"http://127.0.0.1:8001/model/deployments?key={key}&value={value}")

print(res.json())

{'modelId': 4, 'modelName': 'hospice_all_custoNet_ASLFN_10_1.0_221116_214120.pkl', 'trainedDataset': 'hospice_all', 'deployStatus': 'deploying', 'containerID': '5e72ef6f149d', 'containerPort': '8491'}

get Counts

In [3]:
import requests

res = requests.get(f"http://127.0.0.1:8001/model/deployments/counts")

print(res.json())

0

---

In [4]:
key = "trainedDataset"
value = "solar"
modelPklFile = requests.get(f"http://127.0.0.1:8001/model/deployments?key={key}&value={value}")
[data["modelName"] for data in modelPklFile.json()]

['solar_SLFN_0.6_0.787_221124_134525.pkl',
 'solar_SLFN_0.6_0.588_221124_210406.pkl',
 'solar_SLFN_0.6_0.863_221124_212330.pkl']

In [2]:
modelPklFile = requests.get(f"http://127.0.0.1:8001/model/deployments?key=modelName&value=solar_custoNet_SLFN_0.6_0.729_221022_182027.pkl").json()[0]["modelId"]
modelPklFile

IndexError: list index out of range

In [110]:
requests.get(f"http://127.0.0.1:8001/model/deployments?key=modelName&value=solar_custoNet_SLFN_0.6_0.729_221022_182027.pkl").json()[0]["modelId"]

3

In [1]:
requests.get(f"http://127.0.0.1:8001/model/deployments/all").json()

NameError: name 'requests' is not defined

In [25]:
[model["containerID"] for model in requests.get(f"http://127.0.0.1:8001/model/deployments?key=deployStatus&value=2").json()]

[]

In [29]:
a = (" ").join([model["containerID"] for model in requests.get(f"http://127.0.0.1:8001/model/deployments?key=deployStatus&value=2").json()])
print(a)

# import subprocess
# p = subprocess.Popen("docker stop d68d0c5509b7", shell=True, stdout=subprocess.PIPE)
# stdout, stderr = p.communicate()
# print(stdout, stderr)

In [124]:
requests.put(f"http://127.0.0.1:8001/model/deployments", \
                        json={"modelId" : 0, \
                                "keyToBeChanged" : "containerPort", \
                                "valueToBeChanged" : "None"}).json()

{'modelId': 0,
 'modelName': 'solar_custoNet_SLFN_0.6_0.588_221115_215121.pkl',
 'trainedDataset': 'solar',
 'deployStatus': 'revoking',
 'containerID': 'None',
 'containerPort': 'None'}

In [136]:

requests.put(f"http://127.0.0.1:8001/model/deployments", \
                            json={"modelId" : "0", \
                                    "keyToBeChanged" : "containerID", \
                                    "valueToBeChanged" : 324}).json()

In [34]:
import pandas as pd

pd.read_csv("X_case_104to108_34.csv")

      header  header.1  header.2  header.3  header.4  header.5  header.6
0   0.833333         1         0         0         0         0         0
1   0.727273         0         0         0         0         0         2
2   0.696970         0         1         0         1         1         1
3   0.772727         0         0         0         1         0         0
4   0.712121         1         0         0         1         0         1
5   0.803030         0         1         0         1         0         1
6   0.606061         1         0         0         1         0         1
7   0.787879         0         0         0         1         1         0
8   0.787879         2         1         1         1         0         1
9   0.803030         2         1         0         1         1         1
10  0.575758         2         0         0         1         1         0
11  0.636364         0         1         0         1         1         1
12  0.651515         0         0         0         1         0         0
13  0.666667         0         1         1         1         0         1
14  0.272727         1         1         0         1         1         1
15  0.000000         2         1         0         1         1         1
16  0.712121         0         1         0         1         1         1
17  0.893939         0         0         0         1         0         1
18  0.757576         0         1         1         1         0         1
19  0.696970         0         0         0         0         0         1
20  0.772727         0         0         0         1         0         2
21  0.651515         0         0         0         1         0         1
22  0.712121         1         0         0         1         1         1
23  0.727273         1         0         0         1         0         2
24  0.833333         0         0         1         0         0         1
25  0.333333         2         1         0         1         1         1
26  0.893939         0         0         0         1         0         1
27  0.727273         2         1         0         1         0         0
28  0.166667         1         1         0         1         0         1
29  0.863636         2         0         0         1         0         1
30  0.787879         0         0         0         1         1         1
31  0.696970         2         1         1         1         1         0
32  0.803030         2         0         2         1         0         1
33  0.681818         0         0         1         1         0         2